.container {
  padding: 0 2rem;
}

.card {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mint-form {
  display: grid;
  row-gap: 10px;
  width: 100%;
}

.captcha {
  visibility: hidden;
}
