@media only screen and (max-width: 600px) {
  .mint-input > label {
    font-size: 20px;
  }

  .mint-input input {
    font-size: 16px;
  }

  .mint-form button {
    width: 100%;
    height: 48px;
    font-size: 18px;
  }

  .loader {
    font-size: 20px;
  }

  .time-capsule {
    font-size: 100px;
  }

  .time-capsule img {
    width: 300px;
  }

  .time-capsule-footer {
    display: grid;
    width: 300px;
    grid-template-columns: auto auto;
  }

  .transaction-info {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    justify-items: center;
    max-width: 100%;
    justify-content: center;
  }

  .gallery-container > div {
    display: flex;
  }

  .gallery-title {
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 901px) {
  .gallery-container {
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    column-gap: 84px;
    row-gap: 64px;
    max-width: 100%;
    justify-content: center;
  }

  .gallery-container > div {
    display: flex;
  }

  .gallery-title {
    padding-bottom: 48px;
  }
}

@media only screen and (min-width: 601px) {
  .mint-container {
    display: flex;
    justify-content: center;
  }

  .mint-form button {
    width: 260px;
  }

  .mint-button {
    display: flex;
    justify-content: flex-end;
  }

  .time-capsule img {
    width: 600px;
  }

  .time-capsule-footer {
    display: grid;
    width: 600px;
    grid-template-columns: auto auto;
  }

  .transaction-info {
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .transaction {
    display: flex;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.loader {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.logo img {
  width: 96px;
}

.mint-input > label {
  padding-bottom: 10px;
}

.mint-card {
  margin-top: 64px;
  width: 680px;
  padding: 48px;
}

.captcha {
  visibility: hidden;
  height: 0px;
}

.page-loader {
  height: 100%;
  padding-top: 128px;
  display: flex;
  justify-content: center;
}

.mint-failed {
  height: 100%;
  padding-top: 128px;
  justify-content: center;
  display: flex;
}

.time-capsule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  row-gap: 24px;
}

.time-capsule > img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.gallery-item div.card :hover {
  background-color: red;
  color: green;
  cursor: pointer;
}

.share-button {
  align-self: center;
}

.minting {
  display: flex;
}

.transaction-link {
  display: flex;
  justify-content: flex-end;
}
